@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




.theme-light {
  --bg-background-primary: #d6e8ee;
  --bg-background-secondary: #dcf7f9;
  --bg-background-tertiary: #badcd6;
  /*--bg-background-tertiary: #adf2e2;*/


  /*--border-border-color-primary:  #1a202c;*/

  /*--bg-background-button: #e4f5ef;*/
  --bg-background-button-clicked: #bad0ea;


  --text-copy-primary: #0a0a0a;
  --text-copy-secondary: #2b313c;

  /*Couleur contour bouton*/
  --border-border-color-primary:  #1a202c;
}
.theme-dark {
  --bg-background-primary: #1d2935;
  --bg-background-secondary: #202c39;
  --bg-background-tertiary: #263443;

  /*--bg-background-button: #2c3e50;*/
  --bg-background-button-clicked: #4f6f7f;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #7e8286;

  --border-border-color-primary: white;

}
